{
  "env": {
    "commonjs": {
      "presets": [
        "es2015",
        "react"
      ]
    },
    "development":{
      "presets": [
        "es2015-webpack",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "es": {
      "presets": [
        "es2015-rollup",
        "react"
      ]
    },
    "production": {
      "comments": false,
      "presets": [
        "es2015-webpack",
        "react",
        "react-optimize"
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "react"
      ]
    },
  },
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
