.highlighted {
    -webkit-animation-name: anim-info-updated;
            animation-name: anim-info-updated;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    box-sizing: border-box;
}

@-webkit-keyframes anim-info-updated {
    0% {
      background-color: red;
      color: rgb(128, 0, 0);
    }
    100% {
      background-color: white;
      color: rgb(0, 0, 0);
    }
}

@keyframes anim-info-updated {
    0% {
      background-color: red;
      color: rgb(128, 0, 0);
    }
    100% {
      background-color: white;
      color: rgb(0, 0, 0);
    }
}
