.highlighted {
    animation-name: anim-info-updated;
    animation-duration: 4s;
    box-sizing: border-box;
}

@keyframes anim-info-updated {
    0% {
      background-color: red;
      color: rgb(128, 0, 0);
    }
    100% {
      background-color: white;
      color: rgb(0, 0, 0);
    }
}
