.OrbGrid-cell-highlighted {
    animation-name: anim-info-updated;
    animation-duration: 4s;
}

.ReactVirtualized__Grid__cell {
  user-select: none;
}

@keyframes anim-info-updated {
    0% {
      background-color: red;
      color: rgb(128, 0, 0);
    }
    100% {
    }
}
