.OrbGrid-cell {
  user-select: none;
  cursor: default;
}

.OrbGrid-cell-highlighted {
    animation-name: anim-info-updated;
    animation-duration: 1s;
}

.OrbGrid-column-headers {
  outline: none;
}

.OrbGrid-row-headers {
  outline: none;
}

.OrbGrid-data-cells {
  outline: none;
}

@keyframes anim-info-updated {
    0% {
      background-color: red;
      color: rgb(128, 0, 0);
    }
    100% {
    }
}
