.OrbGrid-cell {
  user-select: none;
  cursor: default;
}

.OrbGrid-cell-highlighted {
    animation-name: anim-info-updated;
    animation-duration: 4s;
}

.OrbGrid-cell-header {
  /*Do nothing but is used to fix bug with fixed position in Chrome
  See http://stackoverflow.com/questions/15152470/chrome-rendering-issue-fixed-position-anchor-with-ul-in-body/15203880*/
  transform: scale3d(1,1,1);
}

@keyframes anim-info-updated {
    0% {
      background-color: red;
      color: rgb(128, 0, 0);
    }
    100% {
    }
}
