.orb-cell {
  user-select: none;
  cursor: default;
  border: solid lightgrey thin;
}

.orb-data-cell-highlighted {
    animation-name: anim-info-updated;
    animation-duration: 1s;
}

.orb-column-headers {
  outline: none;
}

.orb-row-headers {
  outline: none;
}

.orb-data-cells {
  outline: none;
}

@keyframes anim-info-updated {
    0% {
      background-color: red;
      color: rgb(128, 0, 0);
    }
    100% {
    }
}


.orb-header {
  background-color: #eef8fb;
}

.orb-header-inner {
  margin: 0.2em;
  margin-left: '0.5em';
}

.orb-dimension-header {
  background-color: #fafad2;
}

.orb-dimension-header-inner {
  margin: 0.2em;
  margin-left: '0.5em';
}

.orb-data-cell {
  text-align: right;
}

.orb-data-cell-uneven {
  background-color: rgb(230, 230, 230);
}

.orb-data-cell-even {
  background-color: white;
}

.orb-data-cell-selected {
  background-color: lightcyan;
}
