.pivotgrid-cell {
  user-select: none;
  cursor: default;
  border: solid lightgrey thin;
}

.pivotgrid-data-cell-highlighted {
  animation-name: anim-info-updated;
  animation-duration: 1s;
}

.pivotgrid-column-headers {
  outline: none;
}

.pivotgrid-row-headers {
  outline: none;
}

.pivotgrid-data-cells {
  outline: none;
}

@keyframes anim-info-updated {
  0% {
    background-color: red;
    color: rgb(128, 0, 0);
  }
  100% {
  }
}

.pivotgrid-header {
  background-color: #eef8fb;
}

.pivotgrid-header-inner {
  margin: 0.2em;
  margin-left: '0.5em';
}

.pivotgrid-dimension-headers {
}

.pivotgrid-dimension-header {
  background-color: #fafad2;
}
.pivotgrid-dimension-header-row {
  border-bottom: solid .07em;
}
.pivotgrid-dimension-header-column {
  border-right: solid .07em;
}
.pivotgrid-dimension-attribute-header {
  font-style: italic;
}
.pivotgrid-dimension-filtered-header {
  font-weight: bold;
}
.pivotgrid-dimension-header-inner {
  margin: 0.2em;
  margin-left: '0.5em';
}

.pivotgrid-data-cell {
  text-align: right;
}

.pivotgrid-data-cell-uneven {
  background-color: rgb(230, 230, 230);
}

.pivotgrid-data-cell-even {
  background-color: white;
}

.pivotgrid-data-cell-selected {
  background-color: lightcyan;
}

.react-contextmenu {
  min-width: 9em;
  color: #373a3c;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: .01em solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 4;
}

.react-contextmenu-item {
  padding: .2em .2em;
  font-weight: 400;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  color: #878a8c;
  background-color: transparent;
  border-color: rgba(0, 0, 0, .15);
}

.react-contextmenu-item--divider {
  margin-bottom: 3px;
  padding: 2px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  cursor: inherit;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, .15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}
.react-contextmenu-wrapper {
  width: inherit;
}

.react-contextmenu-item-filtered {
  font-weight: bold;
}
