.zebulon-grid-zebulon-grid {
  font-family: sans-serif;
}

.zebulon-grid-cell {
  user-select: none;
  cursor: default;
  border: solid lightgrey thin;
  padding: 0.2em;
}

.zebulon-grid-data-cell-changed {
  animation-name: anim-info-updated;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.zebulon-grid-data-cell-changed2 {
  animation-name: anim-info-updated2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.zebulon-grid-data-cell-highlighted {
  border: solid 0.1em rgba(0, 0, 0, 0.5);
}
.zebulon-grid-column-headers {
  outline: none;
}

.zebulon-grid-row-headers {
  outline: none;
}
.zebulon-grid-header-total {
  background-color: rgba(190, 234, 175, 0.98);
}
.zebulon-grid-header-grandtotal {
  background-color: rgba(217, 226, 132, 0.98);
}
.zebulon-grid-data-cells {
  outline: none;
}

.zebulon-grid-select {
  font: inherit;
  height: inherit;
}

@keyframes anim-info-updated {
  0% {
    background-color: red;
    color: rgb(128, 0, 0);
  }
  100% {
  }
}
@keyframes anim-info-updated2 {
  0% {
    background-color: red;
    color: rgb(128, 0, 0);
  }
  100% {
  }
}

.zebulon-grid-header {
  background-color: #eef8fb;
}

.zebulon-grid-header-inner {
}

.zebulon-grid-dimension-header {
  background-color: #fafad2;
}
.zebulon-grid-dimension-header-row {
  border-bottom: solid 0.07em;
}
.zebulon-grid-dimension-header-column {
  border-right: solid 0.07em;
}
.zebulon-grid-dimension-attribute-header {
  font-style: italic;
}
.zebulon-grid-dimension-filtered-header {
  font-weight: bold;
}
.zebulon-grid-dimension-header-inner {
  margin: 0.2em;
  margin-left: "0.5em";
}
.zebulon-grid-data-cell {
  text-align: right;
}
.zebulon-grid-data-cell-uneven {
  background-color: rgb(230, 230, 230);
}
.zebulon-grid-data-cell-even {
  background-color: white;
}
.zebulon-grid-data-cell-selected {
  background-color: lightcyan;
}
.zebulon-grid-data-cell-focused {
  border: solid 0.06em rgba(0, 0, 0, 0.5);
}
.zebulon-grid-data-cell-total {
  background-color: rgba(190, 234, 175, 0.98);
}
.zebulon-grid-data-cell-grandtotal {
  background-color: rgba(217, 226, 132, 0.98);
}
.zebulon-grid-data-cell-edited {
  text-decoration: underline blue;
}
/*-----------------------------------------------*/
/*------------------------------------*/
.zebulon-scrollbar-bar {
  background-color: lightgrey;
  border: solid 0.03em grey;
  border-radius: 0.25rem;
}
.zebulon-scrollbar-thumb {
  background-color: grey;
  border: solid 0.03em grey;
  border-radius: 0.25rem;
}

.zebulon-tool-tip {
  padding: 5px;
  position: absolute;
  z-index: 9999;
  cursor: default;
  animation: 0.5s fadeIn;
  border: 0.05em solid;
  min-height: 30px;
  background-color: white;
  border-radius: 5px;
}
.zebulon-tabs-list {
  width: inherit;
  justify-content: space-around;
}
.zebulon-tabs-tab {
  border: 1px solid #aaa;
  text-align: center;
  border-radius: 5px 5px 0 0;
  width: stretch;
  cursor: pointer;
}
.zebulon-tabs-tab-selected {
  background-color: lightgrey;
  border-bottom: unset;
  /*background: #fff;*/
  /*border-color: #aaa;*/
  color: black;
}
/*------------------------------------*/
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: 0;
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
